<div class="container">



<div class="texts">
  <div class="Icon">
    <a href="https://www.instagram.com/mellokaua"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWr1Q_XerYOO4wWIK5Z14a0M3hyxPP_iWxMQ&usqp=CAU" alt="Icon" target="_blank" ></a>
  </div>
<a href="#">LEARN</a>
<a href="#">BLOG</a>
<a href="#">BOOKMARKS</a>
<a href="#">UI KIT</a>
</div>

<div class="redes">
<a href="https://twitter.com/mellokaua_" target="_blank">TWITTER</a>
<a href="https://www.instagram.com/mellokaua" target="_blank">INSTAGRAM</a>
<a href="https://www.linkedin.com/in/mellokaua" target="_blank">LINKEDIN</a>
<a href="https://github.com/meninbom" target="_blank">GITHUB</a>
</div>

</div>
