*{
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  color: gray;
}
a:hover{
  color: white;
}
img{
  border-radius:50%;
  height: 32px;
  width: 32px;
  margin-top: 12px;
}


.container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texts{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}
.texts > a {
  margin: 10px;
}

.redes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.redes > a {
  margin: 10px;
}
