<div class="container_big-card">
  <div class="big-card_photo">
    <img src="https://s2-oglobo.glbimg.com/iRW_uFwFpwqTOw7-ckOYHpTTY-8=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2023/T/f/SFrc0cTZWxBwVXH9L6Kg/iphone-15-pro.jpg"
    alt=""
    height="300px"
    width="500px">
  </div>

    <div class="big-card_title">
      <h1><a href="#">NOVO IPHONE 15</a></h1>
    </div>

  <div class="big-card_description">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere voluptatem optio repudiandae atque ex repellat ad fugit officia explicabo laboriosam! Molestiae illo et vel voluptates omnis animi impedit fugit amet, Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, in laboriosam. Praesentium, expedita saepe ullam inventore nostrum rerum quos corrupti recusandae aut mollitia excepturi molestiae eum. Non voluptatem ullam iusto?</p>
  </div>
</div>
