<div class="container_small-card">
  <div class="small-card_photo">
    <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MME73?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1632861342000"
    alt="">
  </div>

    <div class="small-card_title">
      <h1><a href="#">NOVOS AIRPODS PRO</a></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, explicabo dolorem? At porro repellendus saepe totam, quibusdam iure corporis quidem velit ipsum, possimus, ducimus laudantium dignissimos repellat facilis! Repellat, amet.</p>


  </div>

</div>

<div class="hr"><hr></div>

